<!DOCTYPE html>
<html>
<body>
    <div id="app">
        <h2>Regioner</h2>
        <ul>
            <li v-for="region1 in regioner">
                <region :region="region1"></region>
            </li>
        </ul>

        <h2>Opret Kommune</h2>
        <opretkommune :regioner="regioner"></opretkommune>

        <h2>Regionskoder</h2>
        <ul>
            <li v-for="regionskode in regionskoder">
                {{ regionskode }}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
    <script type="text/babel">
        const _app = new Vue({
            el: '#app',
            data: {
                regionskoder: [ "1081", "1082", "1083", "1084", "1085" ],
                regioner: [],
            },
            created() {
                axios
                    .get("/regioner")
                    .then(response => {
                        this.regioner = response.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
        });

        Vue.component('region', {
            props: ['region'],
            data() {
                return {
                    kommuner: [],
                };
            },
            template: `
                <div class="region">
                  <h3><button @click="fetchKommuner(region.kode)">⬇️</button> {{ region.navn }}</h3>
                  <ul>
                    <li v-for="kommune in kommuner">
                        <kommune
                            :kommune="kommune"
                            @item-deleted="handleKommuneDeleted"
                            @item-created="handleKommuneCreated">
                        </kommune>
                    </li>
                  </ul>
                </div>
            `,
            methods: {
                fetchKommuner(regionskode) {
                    axios
                        .get("/kommuner", { params: { regionskode: regionskode } })
                        .then(response => {
                            this.kommuner = response.data;
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                handleKommuneDeleted(id) {
                    console.log("Så sletter vi bare kommunen " + id);
                    this.kommuner = this.kommuner.filter(kommune => kommune.id !== id);
                },
                handleKommuneCreated(kommune) {
                    console.log("Den er god nok!");
                    this.kommuner.push(kommune);
                }
            }
        });

    Vue.component('kommune', {
        props: ['kommune'],
        template: `
            <div class="kommune">
                {{ kommune.navn }}
                <button @click="removeKommune(kommune.id)">❌</button>
            </div>
        `,
        methods: {
            removeKommune(id) {
                axios
                    .delete("/kommuner/remove", { params: { id: id } })
                    .then(response => {
                        console.log("Om lidt sletter vi kommunen " + id);
                        this.$emit('item-deleted', id);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
        }
    });

    Vue.component('opretkommune', {
        props: ['regioner'],
        data() {
            return {
                kommune: {
                    regionId: null,
                    kode: '',
                    href: '',
                    navn: ''
                },
            };
        },
        template: `
          <form @submit.prevent="submitForm">
            <!-- REGION_ID Dropdown -->
            <div>
              <label for="regionId">Region</label>
              <select v-model="kommune.regionId" id="regionId">
                <option v-for="region in regioner" :key="region.id" :value="region.id">
                  {{ region.navn }}
                </option>
              </select>
            </div>

            <div>
              <label for="kode">KODE</label>
              <input v-model="kommune.kode" type="text" id="kode" placeholder="Enter KODE" required />
            </div>

            <div>
              <label for="href">HREF</label>
              <input v-model="kommune.href" type="text" id="href" placeholder="Enter HREF" required />
            </div>

            <div>
              <label for="navn">NAVN</label>
              <input v-model="kommune.navn" type="text" id="navn" placeholder="Enter NAVN" required />
            </div>

            <button type="submit">Create Kommune</button>
          </form>
        `,
        methods: {
            submitForm() {
              axios
                .post('/kommuner/add', null, { params: {
                    regionId: this.kommune.regionId,
                    kode: this.kommune.kode,
                    href: this.kommune.href,
                    navn: this.kommune.navn,
                } })
                .then(response => {
                    this.$emit('item-created', this.kommune);
                    console.log('Kommune Created:', this.kommune);
                    this.kommune = { regionId: null, kode: '', href: '', navn: '' };
                })
                .catch(error => {
                    console.log(error);
                });
            }
        }
    });
    </script>

</body>
</html>